.mainContainer {
  background-color: rgba(31, 27, 27, 0.267);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.statusBarContainer {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.mapContainer {
  flex: 1;
  position: relative;
  z-index: 0;
}

.videoContainer {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
}

.instrumentsContainer {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 40px;
  width: 150px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.waypointsContainer {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
}